<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.3.642.0" targetFramework="net452" />
  <package id="Google.Api.CommonProtos" version="2.15.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="4.8.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc" version="4.8.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net472" />
  <package id="Google.Cloud.DocumentAI.V1" version="3.18.0" targetFramework="net472" />
  <package id="Google.Cloud.Location" version="2.3.0" targetFramework="net472" />
  <package id="Google.Cloud.Vision.V1" version="1.7.0" targetFramework="net452" />
  <package id="Google.LongRunning" version="3.3.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.25.0" targetFramework="net472" />
  <package id="Grpc.Auth" version="2.60.0" targetFramework="net472" />
  <package id="Grpc.Core" version="2.46.6" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.66.0" targetFramework="net472" />
  <package id="Grpc.Net.Client" version="2.60.0" targetFramework="net472" />
  <package id="Grpc.Net.Common" version="2.60.0" targetFramework="net472" />
  <package id="IronOcr" version="2022.8.8198" targetFramework="net452" />
  <package id="Leadtools.Annotations" version="23.0.0.1" targetFramework="net452" />
  <package id="Leadtools.Annotations.WinForms" version="23.0.0.1" targetFramework="net452" />
  <package id="Leadtools.Formats.Raster.Common" version="23.0.0.1" targetFramework="net452" />
  <package id="Leadtools.Image.Processing" version="23.0.0.1" targetFramework="net452" />
  <package id="Leadtools.Kernel" version="23.0.0.1" targetFramework="net452" />
  <package id="Leadtools.Ocr.Languages.Main" version="23.0.0.1" targetFramework="net452" />
  <package id="Leadtools.Ocr.Languages.Main.NET" version="23.0.0.1" targetFramework="net452" />
  <package id="Leadtools.Pdf" version="23.0.0.1" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.0.0018" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net452" />
  <package id="PDFSharp.Extensions" version="0.1.2.2" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net472" />
  <package id="System.Interactive.Async" version="6.0.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Async" version="6.0.1" targetFramework="net472" />
  <package id="System.Management" version="7.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Http.WinHttpHandler" version="7.0.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Tesseract" version="4.1.1" targetFramework="net452" />
</packages>